.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 12px solid #dddcdc;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#numLabel {
  font-size: 40px;
  width: 100px;
  text-align: center;
  border: none;
}

#numLabel:focus {
  border: none;
}
